<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<display-name>project</display-name>
	<!-- welcome-file -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- session-timeout -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	
</web-app>
